
a {

}
p {

}
h1 {

}
ul {
  color: lightblue;
}

.customlist {
  list-style-type: none;
  color: lightblue;

}
#maintitle {
  font-family: 'Cinzel', serif;
}
.paragraphfont{
  font-family: 'Overlock', cursive;
}
