
a {

}
p {

}
h1 {

}
ul {
  color: lightblue;
}

.customlist {
  list-style-type: none;
  color: lightblue;

}

.paragraphfont{
  font-family: 'Overlock', cursive;
}

.color{
  color: #c83a26
}

.wrapper {
  display: block;
  background: #14b6d1;
  width: 300px;
  min-height: 100px;
  }

.center
  {text-align: center;}

#maintitle {
  font-family: 'Anton', sans-serif;
  }

#hobbies {
  font-family: 'Amatic SC', cursive;
}
