body {margin: 0; padding: 0;}
.wrapper {
  display: block;
  background: #D87CA6;
  width: 1000px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  }

nav {
  display: block;
  background: #F9C9DE;
  }

.navlinks {
  list-style-type: none;
  }
.navlinks li {
  display: inline;
  }
.navlinks a {
  text-decoration: none;
  color: #964868;
  display: inline-block;
  padding: 10px;
  }

.left {
  display: inline-block;
  vertical-align: top;
  background: #FFFAFA;
  width: 200px;
  min-height: 500px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin: 20px;
  padding: 30px;
  }

.right {
  display: inline-block;
  vertical-align: top;
  width: 610px;
  min-height: 500px;
  background: #FFF3F3;
  color: #793152;
  margin: 20px;
  padding: 30px;
  margin-left: 0px;
  }

footer {
  display: block;
  background: black;
  color: white;
  padding: 10px;
}
