body {
  background: url('../images/field.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
p, .tranparent {
  color: #000000;
  padding: 20px;
  background: #FFFFFF88;
}

ul {
  margin-top: 20px;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  padding: 20px;
  background: url('../images/field.jpg')
  background-size: cover;
  background-position: bottom;
}

ul li a:hover {
  background-position: top;
}
